body {
    
    color: white;
    font-size: 24px;
    font-weight: 900;
    display:flex;
    flex:1;
}

.container {
    

}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #f9faf8;

}

.overview {
    background-color: #1F2937;
}

.cards {
    background-color: white;
    color:#1F2937;
}

.qoute {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.action {
    background-color: #3882f6;
}

.footer {
    background-color: #1F2937;
}